body {
    background-color: hsl(257, 40%, 49%);
    background-image: url("images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: 77%;
}

h1 {
    color: white;
    font-family: "Poppins";
    font-weight: 600;
    padding: 3rem 9rem 0 4rem;
}

img {
    size: 50%;
}

p {
    font-family: "Open Sans";
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    margin: 2rem 4rem 0;
}

.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.brand {
    margin-bottom: 3rem;
}

.register {
    border: none;
    background-color: white;
    border-radius: 100px 100px 100px 100px;
    color: hsl(257, 40%, 49%);
    font-size: 1.2rem;
    margin: 1rem 4rem;
    padding: 10px 0 15px;
    width: 12.5rem;
}

.register:hover {
    color: white;
    background-color: hsl(300, 69%, 71%);
}

.social-media {
    font-size: 1.2rem;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    margin: 0 0.5%;
    padding: 8px;
    text-align: center;
}

.social-media:hover {
    border: 1px solid hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
}

.footer {
    text-align: right;
    padding-right: 3.7rem;
    position: relative;
    bottom: 1rem;
}

#main {
    padding: 3% 5% 0;
}

@media screen and (max-width: 375px) {
    body {
        background-image: url("images/bg-mobile.svg");
        background-repeat: no-repeat;
        background-size: contain;
        text-align: center;
    }

    h1 {
        padding-left: 9rem;
    }

    p {
        padding: 0 14% 5%;
    }

    .brand {
        text-align: left;
        margin: 2rem 0 6rem 0;
    }

    .details {
        margin-top: 5rem;
    }

    .register {
        width: 15rem
    }

    .footer {
        text-align: center;
        padding: 13%;
    }

    .social-media {
        margin: 2%;
    }

    #main {
        padding: 1%;
    }
}